@model IEnumerable<WatchStore.Models.MProduct>
<div class="single-left-sidebar sidebar-best-seller">
    <div class="left-title-area">
        <h2 class="left-title">Sản phẩm mới</h2>
    </div>
    <div class="row">
        <div class="sidebar-best-seller-carousel">
            <div class="product-block">
                <ul>
                    @foreach (var item in Model)
                    {
                        if (@item.Discount != 0)
                        {
                            <li>
                                <div class='product'>
                                    <div class='pic-news'>
                                        <a href='~/@item.Slug'>
                                            <img src="~/Public/library/product/@item.Image" alt="@item.Name" />
                                        </a>
                                    </div>

                                    <h3>
                                        <a href='~/@item.Slug'>@item.Name</a>
                                    </h3>
                                    <div class='price-box'>
                                        @if (@item.Discount == 1)
                                        {
                                            <span class="price">@String.Format("{0:0,0₫}", @item.ProPrice)</span>
                                            <br />
                                            <span class="old-price">@String.Format("{0:0,0₫}", @item.Price)</span>


                                        }
                                        else
                                        {
                                            <span class="price">@String.Format("{0:0,0₫}", @item.ProPrice)</span>
                                        }


                                    </div>
                                    <div>
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= item.ProRate)
                                            {
                                                <span class="fa fa-star checked"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                        }
                                    </div>
                                    <div class='cart-product'>

                                        <a href='~/@item.Slug'>Xem sản phẩm</a>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {

                        }


                    }

                </ul>
                
                @*@foreach (var item in Model)
                {
                    if (@item.Discount != 0)
                    {
                        <div class="single-product-item">
                            <div class="sidebar-product-image">
                                <a href="~/@item.Slug"><img src="~/Public/library/product/@item.Image" alt="@item.Name" width="80px;" /></a>
                            </div>
                            <div class="product-info sede-pro-info">
                                <a href="~/@item.Slug">@item.Name</a>
                                <div class="customar-comments-box">
                                    <div class="rating-box">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="price-box">
                                    @if (@item.Discount == 1)
                                    {
                                        <span class="old-price">@String.Format("{0:0,0₫}", @item.Price)</span>
                                        <br />
                                        <span class="price">@String.Format("{0:0,0₫}", @item.ProPrice)</span>
                                    }
                                    else
                                    {
                                        <span class="price">@String.Format("{0:0,0₫}", @item.ProPrice)</span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {

                    }
                }*@
            </div>
        </div>
    </div>
</div>


